*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body{
    text-align: center;
    background: plum;
}
div{
    width: 200px;
    height: 200px;
    display: block;
    border: 2px solid black;
    margin: auto;
    align-items: center;
    background: blueviolet;
}